APP_TIMEZONE=Europe/Moscow
SCHEDULE_REQUEST_DELAY_SECONDS=10
SCHEDULE_REQUEST_JITTER_SECONDS=8
SCHEDULE_URL=http://asu.sf-misis.ru/rasp/600
GROUP_NAME=ИСП-25-1
DATABASE_PATH=bot.db
ATTACHMENTS_PATH=storage/attachments
ADMIN_TELEGRAM_ID=6605474392
ADMIN_VK_ID=
TELEGRAM_BOT_TOKEN=
VK_BOT_TOKEN=
VK_DISABLE_SSL_VERIFY=true
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_QUEUE=misis_notifications
RABBITMQ_PREFETCH_COUNT=20
